.container2{
  width: 50%;
  align-items: center;
  text-align: center;
  margin: 200px auto;
}

.imagecontainer{
  height:  15.479876160990711vh;
  margin-left: auto;
  margin-right: auto;
  
  
}



.product-container2{
  outline: 1px solid rgb(197, 197, 197);
  position: relative;
  width: 100%;
  border: 1px solid #3f4d5e;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
}


.product-container2:hover{
  opacity: 0.9;
 
}

#first-product2{
  max-width: 85%;
   max-height: 14vh;
  padding: 18px 0px;
  display: inline-block;
}

.product-text2{
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 15px;
  height: 40px;
}



.price2{
  font-size: 20px;
  padding-left: 5px;
  font-weight: bold;
  margin-top:20px;
}

.order{
  margin-bottom: 20px;
  padding: 10px 80px;
}

.order:hover{
  background-color: #d3d3d3;
  border: 2px solid #1f2833;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .container2{
    width: 80%;
  }
}


