body{
  background-color: rgb(231, 231, 223);
  margin: 0;
  padding: 0;
  min-height: 170vh;
}

/*============= Header =============*/

header{
  background-color: #1f2833;
  height: 60px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  
}

.left-section{
  
  width: 190.297px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.middle-section{
  
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 15%;
  margin-right: 15%;
  
  
}

.right-section{
 
  width: 190.297px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}


#logo{
  width: 200px; 
}

#search-box{
  border: 0;
  border-radius: 20px;
  flex: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  outline-color: rgb(229, 219, 186);;
  width: 0;
  padding-left: 15px;
}

#user{
  width:32px;
  
  
}

#user:hover{
  width: 33px;
}

.clients{
margin-right: -50px;
}

#settings{
  width: 26px;
  
}

#settings:hover{
  width: 27px;
}

/*============= End of Header ==========*/

/*============== Navbar ============*/

.navspanhide{
  display: none;
}

.container{
  width: 50%;
  background-color: #c2cad0;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
}

.navbar-div{
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.link-div{
  flex: 1;
  height: 45px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  
}


.link-div:hover{
 
    background-color:#d3d3d3;
    cursor: pointer;
    border: 1px solid #b3b1b1;
}


.container a{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-decoration: none;
  font-size: 15px;
  display: flex;
  flex-shrink: 0;
  padding-top: 10px;
  font-weight: 500;
  
}

a:hover{
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

/*================ End of Navbar ==============*/



/*================ Start of MainPart =============*/

.test{
  width: 60%;
  margin: 85px auto;
  margin-bottom: 100px;
  background-color: rgb(238, 238, 238);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20vh;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
 }
 
 .row,
 .extra-row{
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 36.25730994152047vh;
 }


 .extra-row{
  background-color: rgb(231, 231, 223);
 }

.product-container4{
  opacity: 0;
 }
 .product-container4:hover{
  opacity: 0.5;
 }
 

 .addproduct{
  padding: 7px 15px 7px 15px;
  margin-left: 75px;
  margin-top: 142px;
 }

 .addproduct:hover{
  cursor: pointer; 
  background-color: #e35227;
  border: 1px solid red;
  border-radius: 5px;
 }
 
 .product-container,
 .product-container4{
   /* width: 25%; */
   outline: 1px solid rgb(197, 197, 197);
   height: 36.25730994152047vh;
   
 }
 
 .product-container:hover,
 .product-container4:hover{
   outline: none;
   background-color: white;
   cursor: pointer;
   box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
 }

 .imagecontainer{
  height:  15.479876160990711vh;
  
}
 
 #first-product{
  max-width: 85%;
   max-height: 14vh;
   padding-top: 2.5%;
   display: block;
  margin-left: auto;
  margin-right: auto;
   cursor: pointer;
   
 }
 
 /* #second-product{
   width: 130px;
   height: 130px;
   padding: 18px 80px;
   cursor: pointer;
   
 }
 
 #third-product{
   padding: 18px 100px;
   cursor: pointer;
   width: 75px;
   height: 130px;
   
 }
 
 #fourth-product{
   padding: 18px 35px;
   cursor: pointer;
   width: 210px;
   height: 130px;
   
 }
 
 #fifth-product{
   width: 115px;
   height: 130px;
   padding: 18px 70px;
   cursor: pointer;
  
 } */
 
 .product-text{
  padding-top: 2.5%;
  padding-left: 0.69%;
  padding-right: 0.69%;
  text-align: center;
  margin-top: 2%;
  font-size: 0.8vw;
  height: 3.8vh;
 }
 
 .product-text:hover{
   cursor: pointer;
   text-decoration: underline;
 }
 
 .price{
  font-size: 1.2vw;
  padding-left: 0.69%;
  font-weight: bold;
  margin-top:15%;
 }
 
 .price:hover{
   cursor:default;
 }

 .twoitem-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
 }

 .edit{
  margin-right: 10px;
 }

 .edit,
 .delete{
  padding: 4px 7px 4px 7px;
 }

 .edit:hover,
 .delete:hover{
  cursor: pointer; 
  background-color: #e35227;
  border: 1px solid red;
  border-radius: 5px;
 }


 /*============== End of Main =========*/

 /*============== Footer =================*/



 .container-form{
  
  width: 70%;
  margin:  100px auto;
  background-color: #c2cad0;
  align-items: center;
  border-radius:15px ;
  padding-bottom: 20px;
}

.container-form h1{
  text-align: center;
  padding-top: 50px;
}

#usersedit{
width: 100%;
 /* padding: 5%; */
}

#usersedit input[type="email"],
#usersedit input[type="text"],
#usersedit input[type="date"],
#usersedit input[type="password"],
select{
  
  height: 35px;
    width: 80%;
    border: 1px solid #03a9f6;
}

.register{
  margin-top: 20px;
  padding: 13px 30px 13px 30px;
}

.editicon{
  background-color: rgb(231, 231, 223);
}



.container-form .register{
  position: relative;
  left: 43%;
  margin-bottom: 20px;
  
}


 #usersedit label{
  margin-left: 5%;
  display: inline-block;
  width: 10%;
  height: 50px;
} 

#usersedit input[type="submit"]{
  padding: 10px 40px 10px 40px;
  /* position: relative; */
  /* left: 32%;
  right: 32%; */
  margin-bottom: 20px;
  margin-top: 30px;

}



#savedeletecontainer{
  display: flex;
  justify-content: center;
  margin: 20px auto;
  
}

#usersedit input[type="submit"]:hover{
  cursor: pointer; 
  background-color: #3f4d5e;
  color: white;
  cursor: pointer;
  border: 1px solid black;
}

#filediv{
  display: flex;
  justify-content: center;
  /* margin-bottom: 20px; */
  position: absolute;
  top: 600px;
  width: 70%;
}



.addtocart{
  width: 31px;
 }

 .userinfo-container{
  display: flex;
  flex-direction: row;
  margin-top: -20px;
  justify-content: center;
 }

 .cart-button,
 .favorite-button,
 .order-button{
  height: 37px;
  margin-bottom: 10px;

 }

 .cart-button:hover,
 .favorite-button:hover,
 .order-button:hover{
 

  cursor: pointer; 
  background-color: #3f4d5e;
  color: white;
  cursor: pointer;
  border: 1px solid black;
 
 }


 /* USERS CSS */

 #members{
  
 
  margin-left:auto;
  margin-right:auto;
  width:90%;
  /* empty-cells: show;  */
  empty-cells: hide; 
  border-spacing: 1px 2px;
  border-collapse: separate;
  margin-top: 100px;
}
#members td, #members th 
{
  border:1px solid #f3e3e3; 
  padding:5px 9px 4px;
}

#members td{
  background-color: #c2cad0;
}
#members th 
{
  text-align:left;
  padding-top:6px;
  padding-bottom:5px;
  background-color:#1f2833;
  color:#ffffff;
}
#members tr.alt td 
{background-color:#adb3b3;}


td a {
  display:block;
  width:100%;
  text-decoration: none;
  color: black;
 
}

.edituser{
  width: 8px;
  
}

.edituser:hover{
  border: 2px solid #1f2833;
  border-radius: 5px;
  cursor: pointer;
}



#logout{
  padding: 10px;
  position: absolute;
  left: 92.5%;
  visibility: visible;
  
  
  
}

#logout:hover{
  background-color: #d3d3d3;
  border: 2px solid #1f2833;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  #usersedit label{
    display: block;
    height: 20px;
    margin-bottom: 1px;
    width: 100%;
  }

  #usersedit input[type="submit"]{
    padding: 10px 30px 10px 30px;
  }

  

  #usersedit input[type="email"],
#usersedit input[type="text"],
#usersedit input[type="date"],
#usersedit input[type="password"]{
  width: 98%;
}
}



@media only screen and (max-width: 580px) {
  .left-section{
    width: 120px;
  }

  .right-section {
    width: 120px;
  }

  .middle-section{
    margin-left: 5%;
    margin-right: 5%;
  }

}

@media only screen and (max-width: 700px) {
  .right-section{
    width: 140px;
  }

  .left-section{
    width: 140px;
  }

  .middle-section{
    margin-left: 7%;
    margin-right: 7%;
  }
}

@media only screen and (max-width: 837px){

  .right-footer{
    min-width: 85%;
    display: block;
    margin: auto;
  }

  
}

@media only screen and (max-width: 600px){

  .right-footer{
    min-width: 85%;
    display: block;
    margin: auto;
  }

  .middle-footer2{
    
    width: 80%;
    display: block;
    margin: auto;
    text-align: center;
  }

  .middle-footer{
   
    width: 80%;
    display: block;
    margin: auto;
    text-align: center;
  }

  .middle-footer3{
    
    width: 80%;
    display: block;
    margin: auto;
    text-align: center;
  }
}

@media only screen and (max-width: 1200px){

  .sidebar{
    height: 280px;
  }

  .container{
    width: 80%;
  }

  #categories-link{
    display: inline-flex;
  }

  .container-form{
    width: 90%;
  }
}

@media only screen and (max-width: 1785px){
  .buy-button{
    width: 80px;
    height: 28px;
  }

  .addtocart,.heart{
    width: 22px;
   }

  /* .cart-button,
 .favorite-button{
  height: 28px;
 } */

}

@media only screen and (max-width: 1570px){
  
  .buy-button{
    margin-right: 20px;
  }
}

@media only screen and (max-width: 1245px){
  
  .buy-button{
    margin-right: 5px;
  }
}

@media only screen and (max-height: 870px){
  
  .buy-button,.cart-button,
  .favorite-button{
    height: 28px;
  }

  .addtocart,.heart{
    width: 22px;
   }
}


 @media only screen and (max-width: 1400px){
  .test{
    grid-template-columns: 33% 33% 33%;
  }

  .product-text{
    font-size: 14px;
  }

  .price{
    font-size: 16px;
  }
 }

 @media only screen and (max-width: 1000px){
  .test{
    grid-template-columns: 50% 50%;
    width: 65%;
  }

  .product-text{
    font-size: 16px;
  }

  .price{
    font-size: 18px;
  }
 }

 @media only screen and (max-width: 600px){
  .test{
    grid-template-columns: 100%;
    width: 65%;
  }

  .product-text{
    font-size: 16px;
  }

  .price{
    font-size: 18px;
  }
    
 }

 @media only screen and (max-width : 756px){
  .container{
    width: 100%;
  }
 }

 @media only screen and (max-width : 615px){
  .navspanshow{
    display: none;
  }

  .navspanhide{
    display: block;
  }
 }


